/*============*/
/* Robot body */
/*============*/

#robot-head {
	fill: #e0dfdf;
}

#robot-makeup .robot-painting {
    fill: #cdcbcb;
}

#robot-makeup .robot-glasses {
    stroke: white;
}

#robot-makeup .robot-belt {
    stroke: white;
}

/*===============*/
/* Robot members */
/*===============*/
/* Eyebrows */
.robot-eyebrow {
    stroke: #cdcbcb;
}

/* Eyes */
.eye .lid {
	fill: #6a6969;
	stroke: #6a6969;
}

.eye .pupil {
	fill: #ffb900;
	stroke: #c1bfbf;
}

.eye:hover .pupil {
	fill: #ff8c00;
}

/* Mouth */
#robot-mouth {
    stroke: #8e8c8c;
}