body {
    font-family: 'PT Serif',serif;
}
p{font-size: 1.1em;}
h2{
	font-size: 2.2em;
	font-family: 'Source Sans Pro',sans-serif;
    font-weight: 900;
    letter-spacing: -.02em;
    word-spacing: .05em;
    line-height: 1.1em;
}


#flex-container{
	display: flex; 
	flex-direction: row; 
}

#sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  padding-top: 20px;
  border-right: 2px solid black;
}

#sidebar h2 {
	font-size: 16px;
	margin: 0 0 5px 0; 
}

#sidebar #header-top {
	margin-bottom: 100px; 	
}

#sidebar-content {
	padding: 30px; 
}

.sidebar-widget {
	margin-bottom: 30px;
}
.sidebar-widget p {
	font-size: 15px; 	
	font-family: 'Source Sans Pro',sans-serif;
	margin: 0; 
    text-align: justify;
}
.sidebar-widget ul {
	list-style: none;
	padding: 0px; 
	margin-top: 0px; 
}
.sidebar-widget li {
	font-size: 15px; 	
	font-family: 'Source Sans Pro',sans-serif;
}

#header-border {
    min-height: 8px;
    width: 100%;
    background-color: #ffb900;
    border-top: 8px solid #ff8c00;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    box-sizing: content-box;
}

#header-top {
	margin-left: 35px;
}

#content-container {
  margin-left: 300px;
  padding-right: 60px; 
  padding-left: 60px;
}

@media (max-width: 768px){
	#sidebar {
		visibility: hidden;
	}
	#content-container {
		margin-left: 0px;	
	}
}

.byline {
	font-size: 0.8em;
	font-weight: 600;
	border-top: 1px solid #000;
	font-family: 'Source Sans Pro',sans-serif;
	width: 100%;
	padding-top: 2px; 
}

.post {
	max-width: 600px;	
	padding-top: 30px; 
	padding-bottom: 35px;
}

.stp-icon {
	cursor: pointer;
	color: #FFB902;
	margin-right: 5px; 
}

div.stp {
	float: left; 
}
ul.post-tags {
	float: right;
	margin: 0px;
}
ul.post-tags li {
  display:inline;
  color: #696969;
}

#sidebar-footer {
	color: white;	
}