<!DOCTYPE html>

<html lang="en">
<head>
	{% load static %}
	<script src="{% static 'main/stp.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<title>Alexis' Blog</title>
</head>

<body>
<div id="flex-container">
	<div id="sidebar">
		<div id="header-border"></div>
		<div id="header-top">
			<h1>ALEXIS' BLOG</h1>
		</div>
		<div id="sidebar-content">
			<div class="sidebar-widget">
				<h2>Hi There!</h2>
				<p>Glad you made it here! It's full of nerdy stuff about computers, maths and others. The goal? Share an idea or make you smile. Hope you'll give it a try.</p>
			</div>
			<div class="sidebar-widget">
				<h2>Explore</h2>
				<ul>
					<li>Shuffle</li>
					<li>Top Posts</li>
				</ul>
			</div>
			<div class="sidebar-widget">
				<h2>Connect</h2>
				<ul>
					<li>Github</li>
					<li>Linkedin</li>
				</ul>
			</div>
		</div>
		<div id="sidebar-footer">
			<h2>Alexis Guibourgé</h2>
			<p>Alexis Guibourge</p>
		</div>
	</div>
	<div id="content-container">
		{% block content %}{% endblock %}
	</div>
</div>
</body>
</html>
